{% extends "base.html" %}
{% set title = "Index" %}

{% block head %}
  <script src="../pipeline/FrontendData/frontend_data.js"></script>

  <script src="../static/script/helpers.js"></script>

  <script src="../static/script/storage.js"></script>

  <script src="../static/script/question.js"></script>
  <script src="../static/script/users.js"></script>
  <script src="../static/script/progress.js"></script>
  <script src="../static/script/filters.js"></script>

  <script src="../static/script/index.js"></script>
{% endblock %}

{% block body %}
<div id="control-panel"></div>
<div id="content"></div>
{% endblock %}
