{% extends "base.html" %}
{% set title = "Test Practice" %}

{% block head %}
    <script src="../pipeline/frontend_data.js"></script>

    <script src="../static/script/helpers.js"></script>
    <script src="../static/script/toggle_button.js"></script>

    <script src="../static/script/storage.js"></script>
    <script src="../static/script/migrate.js"></script>

    <script src="../static/script/options.js"></script>
    <script src="../static/script/question.js"></script>
    <script src="../static/script/users.js"></script>
    <script src="../static/script/progress.js"></script>
    <script src="../static/script/filters.js"></script>

    <script src="../static/script/control_panel.js"></script>
    <script src="../static/script/question_viewer.js"></script>

    <script src="../static/script/index.js"></script>
{% endblock %}

{% block body %}
    <div id="content"></div>
{% endblock %}
