{% extends "base.html" %}
{% set title = domain.name %}

{% block head %}
  <script>const DOMAIN_KEY = "{{domain.key}}"</script>
  <script>const SUPERDOMAIN_KEY = "{{domain.superdomain.key}}"</script>
  <script>const SUPERDOMAIN_NUMBER = {{domain.superdomain.number}}</script>

  <script src="../static/helpers.js"></script>

  <script src="../static/data/subdomains.js"></script>
  <script src="../static/data/taxonomy.js"></script>
  <script src="../static/data/difficulties.js"></script>

  <script src="../static/storage.js"></script>
  <script src="../static/question.js"></script>
  <script src="../static/user.js"></script>
  <script src="../static/progress.js"></script>
  <script src="../static/filters.js"></script>

  <script src="../static/control_panel.js"></script>
  <script src="../static/section.js"></script>
{% endblock %}

{% block body %}
  <div id="content">
  <div id="question-blocks">
  {% for question in questions %}
    <div class="question-block"
      uuid="{{question.uuid}}"
      subdomain_index="{{question.subdomain.index}}"
      difficulty="{{question.difficulty}}">

      <details class="content-toggle" open>
        <summary class="question-header">
          <span class="button question-checkmark" invisible><span></span></span>
          <span class="question-index" title="{{question.uuid}}">
            Question {{question.index+1}}
          </span>
          <span class="match-index">
            {{question.index+1}} of {{questions|length}} selected
          </span>
          <span class="question-subdomain">{{question.subdomain.name}}</span>
          <span class="difficulty-rating difficulty-{{question.difficulty}}"></span>
        </summary>
        <div class="question-body">
          <div class="question-body-item">
            {{question.stimulus}}
            {{question.stem}}
          </div>
          {% if question.options %}
          <div class="question-body-item">
            <ol type="A">
              {% for option in question.options %}
              <li class="answer-option">{{option}}</li>
              {% endfor %}
            </ol>
          </div>
          {% endif %}
        </div>
        <details class="answer-toggle">
          <summary>Show Answer</summary>
          {% if question.correct_answer %}
            <b>Correct Answer:</b> {{question.correct_answer}}
          {% endif %}
          {{question.rationale}}
        </details>
      </details>
    </div>
  {% endfor %}
  </div>
{% endblock %}
