{% extends "base.html" %}
{% set title = "SAT Questions" %}

{% block head %}
  <script> const DOMAIN_KEY = null</script>
  <script> const SUPERDOMAIN_KEY = null</script>
  <script> const SUPERDOMAIN_NUMBER = null</script>

  <script src="../static/helpers.js"></script>

  <script src="../static/subdomains.js"></script>
  <script src="../static/question_metadata_map.js"></script>
  <script src="../static/taxonomy.js"></script>

  <script src="../static/question.js"></script>
  <script src="../static/storage.js"></script>
  <script src="../static/filters.js"></script>
  <script src="../static/progress.js"></script>
  <script src="../static/index.js"></script>
{% endblock %}

{% block body %}
  <table id="taxonomy">
    <thead>
      <tr>
        <td colspan="3">
          <div id="index-users">
            <select id="username-select"></select>
            <div id="username-delete" class="button">delete</div>
            <div id="username-feedback" visible="false"></div>
            <input class="button" type="text" id="username-input"
                   placeholder="enter a new username">
            <span class="button" id="username-submit-input">add</span>
          </div>
        </td>
        {% for difficulty in difficulties %}
        <td class="difficulty-{{difficulty}}">{{difficulty}}</td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for superdomain, domains in taxonomy.items() %}
        {% set superdomain_loop = loop %}
        {% set superdomain_rowspan = subdomains_per_superdomain[superdomain] %}
        {% for domain, subdomains in domains.items() %}
          {% set domain_loop = loop %}
          {% set domain_rowspan = subdomains | length %}
          {% for subdomain in subdomains %}
            <tr>
              {% if loop.first %}
                {% if domain_loop.first %}
                  <td rowspan="{{superdomain_rowspan}}">{{superdomain.name}}</td>
                {% endif %}
              <td rowspan="{{domain_rowspan}}">
                <a href="{{domain.key | get_domain_html_name}}">
                  {{domain.name}}
                </a>

              </td>
              {% endif %}

              <td class="taxonomy-subdomain-column">{{subdomain.name}}</td>

              {% for difficulty in difficulties %}
              <td class="answered-total"
                superdomain="{{superdomain.key}}"
                domain="{{domain.key}}"
                subdomain_index="{{subdomain.index}}"
                difficulty="{{difficulty}}">
                ?
              </td>
              {% endfor %}
            </tr>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
