{% extends "base.html" %}
{% set title = domain.name %}

{% block head %}
  <script>const DOMAIN_KEY = "{{domain.key}}"</script>
  <script>const SUPERDOMAIN_KEY = "{{domain.superdomain.key}}"</script>
  <script>const SUPERDOMAIN_NUMBER = {{domain.superdomain.number}}</script>

  <script src="../static/helpers.js"></script>

  <script src="../static/subdomains.js"></script>
  <script src="../static/taxonomy.js"></script>

  <script src="../static/storage.js"></script>
  <script src="../static/progress.js"></script>
  <script src="../static/filters.js"></script>
  <script src="../static/control_panel.js"></script>
  <script src="../static/section.js"></script>
{% endblock %}

{% block body %}
  <div id="control-panel">
    <div id="control-panel-permanent-row">
      <a id="index-button" class="button" href="index.html">home</a>
      <div id="domain">{{domain.name}}</div>
      <div id="total-questions">{{questions|length}}</div>
      <div id="total-matching-questions">...</div>
      <div id="total-answered-questions">...</div>
      <div id="control-panel-toggle" class="button" state=true></div>
    </div>
    <div id="control-panel-columns">
      <div id="control-panel-users">
        <div class="flex-row">
          <select id="username-select"></select>
          <div id="username-delete" class="button">delete</div>
        </div>
        <div id="username-feedback" visible="false"></div>
        <div id="username-input-wrapper">
          <input class="button" type="text"
                 id="username-input" placeholder="enter a new username">
          <span class="button" id="username-submit-input">add</span>
        </div>

      </div>
      <div id="control-panel-difficulty">
        {% for difficulty in difficulties %}
        <div class="difficulty-filter">
          <input type="checkbox" class="checkbox"
                 id="checkbox-{{domain.key}}-difficulty-{{difficulty}}">
          <label for="checkbox-{{domain.key}}-difficulty-{{difficulty}}"
                 class="difficulty-rating difficulty-{{difficulty}}">
            {{difficulty}}
          </label>
        </div>
        {% endfor %}
      </div>
      <div id="control-panel-subdomain">
        <div class="toggle-buttons">
          <div id="show-all-subdomains" class="button">Show All Subdomains</div>
          <div id="hide-all-subdomains" class="button">Hide All Subdomains</div>
        </div>
        {% for subdomain in taxonomy[domain.superdomain][domain]%}
        <div class="subdomain-filter">
          <input type="checkbox" class="checkbox"
                 id="checkbox-{{domain.key}}-subdomain_index-{{subdomain.index}}">
          <label for="checkbox-{{domain.key}}-subdomain_index-{{subdomain.index}}"
                 title="{{subdomain}}">
            {{subdomain.name}}
          </label>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% for question in questions %}
  <div class="question-block"
    uuid="{{question.uuid}}"
    subdomain_index="{{question.subdomain.index}}"
    difficulty="{{question.difficulty}}">

    <details class="content-toggle" open>
      <summary class="question-header">
        <span class="button question-checkmark" invisible><span></span></span>
        <span class="question-index" title="{{question.uuid}}">
          Question {{question.index+1}}
        </span>
        <span class="match-index">
          {{question.index+1}} of {{questions|length}} selected
        </span>
        <span class="question-subdomain">{{question.subdomain.name}}</span>
        <span class="difficulty-rating difficulty-{{question.difficulty}}">
          {{question.difficulty}}
        </span>
      </summary>
      <div class="question-body">
        <div class="question-body-item">
          {{question.stimulus}}
          {{question.stem}}
        </div>
        {% if question.options %}
        <div class="question-body-item">
          <ol type="A">
            {% for option in question.options %}
            <li class="answer-option">{{option}}</li>
            {% endfor %}
          </ol>
        </div>
        {% endif %}
      </div>
      <details class="answer-toggle">
        <summary>Show Answer</summary>
        {% if question.correct_answer %}
          <b>Correct Answer:</b> {{question.correct_answer}}
        {% endif %}
        {{question.rationale}}
      </details>
    </details>
  </div>
  {% endfor %}
{% endblock %}
